﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization

@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}


<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName" dir="@(CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <title>Lingo Courses</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    @if (CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft)
    {
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.rtl.min.css" />
    }
    else
    {
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
    }

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="" class="navbar-brand ml-lg-3">
                <h1 class="m-0 text-uppercase text-primary">Lingo Courses</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a class="nav-link" href="#home">@localizer["Home"]</a>
                    <a class="nav-link" href="#about_instructor">@localizer["About Instructor"]</a>
                    <a class="nav-link" href="#our_students">@localizer["Our Students"]</a>
                    <a class="nav-link" href="#students_reviews">@localizer["Students Reviews"]</a>
                    <a class="nav-link" href="#contact_us">@localizer["Contact Us"]</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@localizer["Language"]</a>
                        <div class="dropdown-menu m-0">
                            <a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ar">العربية</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en">English</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center my-5 py-5">
            <h1 class="text-white mt-4 mb-4">Learn From Home</h1>
            <h1 class="text-white display-1 mb-5">Education Courses</h1>
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                            Courses
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Graphics Design</a>
                            <a class="dropdown-item" href="#">UI / UX</a>
                            <a class="dropdown-item" href="#">Digital Marketing</a>
                        </div>
                    </div>
                    <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="main">
        @RenderBody()
    </main>

    <div class="container-fluid px-0 py-5" dir="ltr">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                    <h1 class="display-4">Checkout New Releases Of Our Courses</h1>
                </div>
            </div>
        </div>
        <div class="owl-carousel courses-carousel">
            <div class="courses-item position-relative">
                <img class="img-fluid" src="img/Courses/course1.jpg" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Graphics Design</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white"><i class="fa fa-user mr-2"></i>Eng. Yousef Ehab</span>
                            <span class="text-white"><i class="fa fa-star mr-2"></i>4.5 <small>(250)</small></span>
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="detail.html">Course Detail</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="img/Courses/course1.jpg" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">UI / UX</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white"><i class="fa fa-user mr-2"></i>Eng. Yousef Ehab</span>
                            <span class="text-white"><i class="fa fa-star mr-2"></i>4.5 <small>(250)</small></span>
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="detail.html">Course Detail</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="img/Courses/course1.jpg" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Digital Marketing</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white"><i class="fa fa-user mr-2"></i>Eng. Yousef Ehab</span>
                            <span class="text-white"><i class="fa fa-star mr-2"></i>4.5 <small>(250)</small></span>
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="detail.html">Course Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5" dir="ltr">
        <div class="container py-5">
            <div class="section-title text-center position-relative mb-5">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">@localizer["Students"]</h6>
                <h1 class="display-4">@localizer["Meet Our Students"]</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-1.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-2.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-3.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-4.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-image py-5" style="margin: 90px 0;" dir="ltr">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Testimonial</h6>
                        <h1 class="display-4">What Say Our Students</h1>
                    </div>
                    <p class="m-0">Dolor est dolores et nonumy sit labore dolores est sed rebum amet, justo duo ipsum sanctus dolore magna rebum sit et. Diam lorem ea sea at. Nonumy et at at sed justo est nonumy tempor. Vero sea ea eirmod, elitr ea amet diam ipsum at amet. Erat sed stet eos ipsum diam</p>
                </div>
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p>Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna sed stet amet elitr duo lorem</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="img/testimonial-2.jpg" alt="">
                                <div>
                                    <h5>Student Name</h5>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p>Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna sed stet amet elitr duo lorem</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="img/testimonial-1.jpg" alt="">
                                <div>
                                    <h5>Student Name</h5>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <a href="" class="navbar-brand">
                        <h1 class="mt-n2 text-uppercase text-white">Lingo Courses</h1>
                    </a>
                    <p class="m-0">@localizer["AcademyBio"]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h3 class="text-white mb-4">Get In Touch</h3>
                    <p>
                        <i class="fa fa-phone-alt mr-2 ml-2"></i><span dir="ltr" style="unicode-bidi: plaintext;">+20 12 87319435</span>
                    </p>
                    <p><i class="fa fa-envelope mr-2 ml-2"></i>youssefehab65448@gmail.com</p>
                    <div class="d-flex justify-content-start mt-4">
                        @if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar")
                        {
                            <a class="text-white" href="https://www.behance.net/youssefehab221" target="_blank"><i class="fab fa-2x fa-behance"></i></a>
                        }
                        else
                        {
                            <a class="text-white mr-4" href="https://www.behance.net/youssefehab221" target="_blank"><i class="fab fa-2x fa-behance"></i></a>
                        }
                        <a class="text-white mr-4" href="https://www.tiktok.com/@@lingo.courses?_t=ZS-8ty3hgqu425&_r=1" target="_blank"><i class="fab fa-2x fa-tiktok"></i></a>
                        <a class="text-white mr-4" href="https://www.facebook.com/share/1Ds6Ry3yKc/" target="_blank"><i class="fab fa-2x fa-facebook-f"></i></a>
                        <a class="text-white mr-4" href="https://www.linkedin.com/in/youssef-ehab-ba4578196/" target="_blank"><i class="fab fa-2x fa-linkedin-in"></i></a>
                        <a class="text-white mr-4" href="https://www.instagram.com/youssefehab65448?igsh=MTNtcW9paHprdHJ1Ng==" target="_blank"><i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <h3 class="text-white mb-4">Our Courses</h3>
                    <div class="d-flex flex-column justify-content-start">
                        @{
                            var className = "fa fa-angle-left mr-2";

                            if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar")
                            {
                                className = "fa fa-angle-left mr-2";
                            }
                            else
                            {
                                className = "fa fa-angle-right mr-2";
                            }
                        }
                        <a class="text-white-50 mb-2" href="#"><i class="@className"></i> Graphics Design </a>
                        <a class="text-white-50 mb-2" href="#"><i class="@className"></i> UI / UX </a>
                        <a class="text-white-50 mb-2" href="#"><i class="@className"></i> Digital Marketing </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="container-fluid bg-dark text-white-50 border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="m-0">Designed by <a href="https://www.linkedin.com/in/erinyadel/" target="_blank">Eriny Adel</a></p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>